<%- include("../partials/header", {current: "products"}) %>

<div class="container-fluid">
   <div class="container">
      <div class="row header-container justify-content-between">
         <div class="col-md-6 col-sm-6 col-xs-6">
            <h1>Products</h1>
         </div>
         <div class="col-md-6 col-sm-6 col-xs-6 text-right <% if(!currentUser){ %> d-none <% } %>">
            <small><a href="/products/new">add a product</a></small>
         </div>
      </div>
      <div class="row">
         <% products.forEach((product) => { %>
         <div class="col-md-3 col-sm-6 col-xs-6 my-2">
            <div class="img-container">
               <img src="/uploads/product-images/<%= product.image %>" class="img-thumbnail" alt="">
            </div>
               <h5 id="product-title" class="my-0">
                  <%= product.productName %>
               </h5>
               <% if(!currentUser){ %>
                  <span><a href="/login">Login</a> now to see the price!</span>
               <% } else { %>
               <span id="price">₱<%= product.price %></span>
               <% } %>
               <div class="text-muted small"><%= product.category %></div>
         </div>
         <% }) %>
      </div>
   </div>
</div>

<%- include("../partials/footer", {current: "products"}) %>